@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background: linear-gradient(red, orange, pink, pink, orange, red);
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: blue;
    text-align: center;
    text-shadow: 3px 3px gray;
}

h2{
  color: blue;
  font-family: 'Bebas Neue', cursive;
}

.game-board{
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
  justify-content: center;
  width: 400px;
  height: 300px;
  margin: auto;
  background-color: blue;
  box-shadow: 7px 5px 5px gray;
  
}

.component{
  border: solid 5px blue;
  background-color: white;
  border-radius: 50%;
}

.component:hover {
  background-color: pink;
  
}


.player-one{
    border-radius: 50%;
    background-color: yellowgreen;
}

.player-two{
    border-radius: 50%;
    background-color: tomato;
}


