@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500;600;700&display=swap');



.container {
 
    display : grid; 
    max-width: 700px;
    margin: auto;
    box-shadow: 5px 5px 30px #98a6bd;
    border-radius: 10px;
    /* grid-template-areas: 
        "join join"
        "subscribe why-us"; */
}

.join {
    /* grid-area: join; */
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 30px;
}

h1 {
    color: #2AB1AE;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
}

.guarantee { 
    color: #c0df34;
    font-weight: 600;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
}

.join-para {
    color : #98a6bd;
    font-weight: 450;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    line-height: 1.6;
}

.subscribe {
    /* grid-area: subscribe; */
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 30px; 
    background-color: #2AB1AE;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    border-bottom-left-radius: 10px;
}

.subscribe-header {
    font-size: 19px;
    font-weight: 500;
}

.amount {
    font-size: 30px;
    font-weight: 700;
}

.per-month {
    opacity: .5;
}

.access {
    opacity: .7;
    font-size: 16px;
}


.why-us {
    /* grid-area: why-us; */
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 30px;
    background-color: #2FC5C1;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    border-bottom-right-radius: 10px;
}

.why-header {
    font-size: 19px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    padding: 0;

}

li {
    margin: 4.5px;
    opacity: .6;
} 

button {
    background-color: #c0df34;
    color: #FFFFFF;
    border: none; 
    width: 270px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px #808080;
}

.sign-up {
    font-weight: 700;
    opacity: .8;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    
}





