<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Poems Index</title>
</head>
<body>

<div class="container">
<div id="book-image">
    <h1 class="mb-5">Poem Book</h1>
        <a href="https://ibb.co/6sTRzn9"><img class="book-image" src="https://i.ibb.co/GP8vyxY/1495749805-Black-Book-PNG-Clip-Art.png" alt="1495749805-Black-Book-PNG-Clip-Art" width="100"></a>

</div>
        
        <a href="/poems/new" class="create btn btn-outline-dark">Create a Poem</a>
        
        <% poems.forEach(poem => { %>
            <div class="card mt-2">

                <div class="card-body">
                    <h4 class="card-title">
                        <%= poem.title %>
                    </h4>
        
                    <div class="card-text mb-4">
                        <%= poem.tags %>
                    </div>

                    <a href="poems/<%= poem.id %>" class="read btn btn-dark">Read Poem</a> 
                    
                    <form action="/poems/<%= poem.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete Poem</button>
                    </form>
                </div>
            </div>
       <% }) %>
    </div>

    
</body>
</html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

    body{
        background-color: #000;
        background-image: linear-gradient(45deg, black, white, gray, grey, white, black);
        background-repeat: no-repeat;
        background-size: auto;
    }
    h1{
        text-align: center;
        font-family: 'Limelight', cursive;
        font-size: 80px;
        text-shadow: 3px 2px lightgray;
        text-transform: uppercase;
    }
    .create{
        background-image: linear-gradient(45deg, black, gray, grey,  black);
        color: white;
    }
    .card{
        background-image: linear-gradient(45deg, black, gray, white, black);
    }
    .card-title{
        color: white;
    }
    .card-text{
        color: white;
    }
    .read{
        background-image: linear-gradient(45deg, black, gray, grey,  black);
        color: white;
    }
    #book-image {
  position:relative;
    }

    .book-image {
        position:absolute;
        top:0;
        right:0;
    }
</style>
</html>