@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Raleway:wght@100;200;300&display=swap');

* {
    box-sizing: border-box;
}


html, body {
    background-color: #000;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    /* width: 100vw;
    height: 100vh; */
}

/* Section 1 */
.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 14vh;
    background-repeat: ;
}

/* .logo {
    object-fit: contain;
    width: 150px;
    height: 100%;
} */

.nav {
    display: flex;
    gap: 60px;
    padding-right: 50px;
} 
.nav-link {
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-family: 'Koulen', cursive;
    font-size: 30px;s
}
.nav-link:hover {
    color: #808000;
}
li {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
/* End of Section 1 */



/* Section 2 */
.section-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #202020;
    padding-bottom: 50px;
    border-top: solid .7px #ccc;
    border-bottom: solid .7px #ccc;
}
.section-2-heading {
    color: #fff;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 80px;
    background: -webkit-linear-gradient(#fff,#c0c0c0, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-2-content {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
}
.about-me-photo {
    height: 45vh;
    border-radius: 30% 20% 40% 30%;
    /* opacity: 0.8; */
    border: solid #fff 2px;
}
.paragraph-1 {
    color: #fff;
    width: 40vw;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 25px;
}
.paragraph-2 {
    color: #fff;
    width: 40vw;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-indent: 10%;
}
.paragraph-2-quote {
    text-indent: 40%;
    color: #fff;
    font-family: 'Koulen', cursive;
}
/* End of Section 2 */


/* Section 3 */
.section-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* background-color: #111; */
    background-color: #353434;
    padding-bottom: 50px;
    border-bottom: solid 0.7px #ccc;
}
.section-3-heading {
    color: #fff;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 80px;
    background: -webkit-linear-gradient(#fff,#c0c0c0, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-cards {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card {
    width: 400px;
    height: 600px;
    background-color: #313030;
    border-radius: 15px;
    box-shadow: 8px 6px 2px #111;
}
.card-photo {
    width: 400px;
    height: 230px;
    border-radius: 15px 15px 0 0;
}



li {
    margin-bottom: 0.5rem;
    list-style: none;
}
.list-matching li {
    color: #c721b9;
    font-size: 15px;
    font-weight: 500;
}
.list-split-page li {
    color: #2785b1;
    font-size: 15px;
    font-weight: 500;
}
.list-phonebook li {
    color: #ffa500; 
    font-size: 15px;
    font-weight: 500;
}
.list-premium li {
    color:#3be286;
}

.project-card-list i {
    font-size: 1.8rem;
    width: 3rem
}
.project-card-list span {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
.project-card-btn {
    width: 250px;
    height: 80px;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
    /* font-size: 1.6rem; */
    /* text-align: center; */
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3rem 3rem 6rem rgba(0,0,0,0.5);
}
.button-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.btn-matching {
    background: linear-gradient(70deg, #c721b9, #0da5d3, #c721b9);
}
.btn-split-page {
    background: linear-gradient(70deg, #bdba0e, #c552b2, #bdba0e);
}
.btn-phonebook {
    background: linear-gradient(70deg, #a04901, #ffa500, #a04901);
}
/* End of Section 3 */


/* Section 4 */
.section-4 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #202020;
    padding-bottom: 50px;
    border-bottom: solid 0.7px #ccc;
}
.section-4-heading {
    color: #fff;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 80px;
    background: -webkit-linear-gradient(#fff,#c0c0c0, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-container {
    display: flex;
    justify-content: center;
}
.contact-info{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    gap: 100px;
}
.phone {
    background: -webkit-linear-gradient(#fff,#c0c0c0, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.location {
    background: -webkit-linear-gradient(#fff,#c0c0c0, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.email {
    background: -webkit-linear-gradient(#fff,#c0c0c0, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}
.contact-details {
    font-size: 22px !important; 
}
/* End of Section 4 */


/* Footer */
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10rem;
    width: 100%;
    /* height: 12vh; */
    background-color: #000;
}

.footer-container {
    font-family: "MADE Soulmaze", sans-serif;
    color: #ccc;
    font-size: 2rem;
    margin-right: 3rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
}

a {
    color: #ccc;
    font-size: 18px;
    /* text-decoration: none; */
}

.footer-container a:hover {
    color: #808000;
}

.copyright {
    font-size: 16px;
    color: #ccc;
}

/* End of Footer  */
@media (max-width: 1440px) {
    /* .logo {
        height: 120px;
    } */
}

@media (max-width: 1024px) {
    .about-me-photo {
        height: 30vh;
    }
    /* .logo {
        height: 110px;
    } */
    
}


@media (max-width: 768px) {
    .about-me-photo {
        height: 26vh;
    }
    .phone {
        font-size: 25px;
    }
    .location {
        font-size: 25px;
    }
    .email {
        font-size: 25px;
    }
}


@media (max-width: 613px) {
    .nav-link {
        font-size: 18px;
    }
    .section-2-content {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-self: center;
    }
    .section-2-heading {
        font-size: 50px;
    }
    .paragraph-1 {
        font-size: 12px;
        width: 200px;
    }
    .section-3-heading {
        font-size: 50px;
    }
    .section-4-heading {
        font-size: 50px;
    }
    .phone {
        font-size: 18px;
    }
    .location {
        font-size: 18px;
    }
    .email {
        font-size: 18px;
    }

}